<!DOCTYPE html>

<html lang='en'>
<head>
	<meta charset='utf-8'/>
	<title>Cornell Commitment</title>
	<link rel="stylesheet" type="style/css" href="../public/css/style.css">
</head>
<body>
<div id="mainSpace">Div for icon</div>
<footer id="clickSpace">Bottom
	<div></div>




</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="../public/js/app.js"></script>
</body>
</html>