
body{
	background:green;
	box-sizing: border-box;
	height:100%;
	width:100%;
}

#mainSpace {
	height:75vh;
}
#clickSpace{
	background: #D8D8D8;
	border: 1px solid #979797;
	border-radius: 8px;
	height: 25vh;
	

}


/* Rectangle 2: */

